body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #f0f8ff;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form button {
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:hover {
    text-decoration: underline;
}
main {
    display: flex;
    justify-content: center;
}
#results {
    margin: 20px;
    border: solid 1px #333;
    width: 40%;
    text-align: center;
}